<h1>作品一覧</h1>

<% if can? :destroy, Product %>
  <div id="product-controll-panel">
    <div>
      <input type="checkbox" id="toggle-check-box" />&nbsp;全てチェック/解除
      <%= button_tag 'チェック済みを削除', class: 'btn', id: 'destroy-products-button' %>
    </div>
  </div>
<% end %>

<div style="margin-top: 20px">
  並べ替え
  <%= order_select_tag %>
</div>

<ul id="product-list">

  <% @products.each do |product| %>

  <li class="product-row">
    <div class="row">
      <div class="product-image span1"></div>

      <div class="product-info span3">
        <!-- image を表示する --> 
        <%= product.artist.name %><br />
        <%= link_to product.name, product %><br />
        レビュー数 : <%= product.reviews.count %>
        <% if current_user.has_written_review?(product) %>
          <span class="label label-info">レビュー書き込み済み</span>
        <% end %><br />

        登録日 : <%= product.created_at.strftime('%Y-%m-%d %H:%M:%S') %> 
      </div>

      <div class="product-controll span4">
        <% if can? :edit, Product %>
          <%= link_to 'Edit', edit_product_path(product) %>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
      
      <div class="span4"></div>

    <div>
  </li>

  <% end %>

</ul>

<%= page_entries_info @products %>
<%= will_paginate @products, :renderer => BootstrapPagination::Rails %>

<%= form_tag products_path, :method => :delete, :id => "destroy-products", :data => {:confirm => "本当にいいのですか？"} do %><% end %>
<%= form_tag products_path, :method => :get, :id => "hoge" do%><% end %>

<%= javascript_include_tag 'products' %>
