<h1>Product List</h1>

<% if can? :destroy, Product %>
  <div id="product-controll-panel">
    <div>
      <input type="checkbox" id="toggle-check-box" />&nbsp;全てチェック/解除
      <%= button_tag 'チェック済みを削除', class: 'btn', id: 'destroy-products-button' %>
    </div>
  </div>
<% end %>

<div style="margin-top: 20px">
  並べ替え
  <%= order_select_tag %>
</div>

<table id="products-table" class="table">
  <tr>
    <% if can? :destroy, Product %>
    <th></th>
    <% end %>
    <th>アーティスト名</th>
    <th>作品名</th>
    <th>ジャンル</th>
    <th></th>
    <% if can? :edit, Product %>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @products.each do |product| %>
  <tr class="product-row">
    <% if can? :destroy, Product %>
      <td class="checkbox-column">
        <%= check_box_tag 'product_ids[]', product.id, false, class: "product-check-box" %>
      </td>
    <% end %>

    <td><%= product.artist.name %></td>
    <td><%= product.name %></td>
    <td><%= product.genre %></td>
    <td><%= link_to 'Show', product %></td>

    <% if can? :edit, Product %>
      <td><%= link_to 'Edit', edit_product_path(product) %></td>
      <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>

</table>

<%= page_entries_info @products %>
<%= will_paginate @products, :renderer => BootstrapPagination::Rails %>

<%= form_tag products_path, :method => :delete, :id => "destroy-products", :data => {:confirm => "本当にいいのですか？"} do %><% end %>
<%= form_tag products_path, :method => :get, :id => "hoge" do%><% end %>
