<p id="notice"><%= notice %></p>

<p>
  <b>Artist:</b>
  <%= @product.artist.name %>
</p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Genre:</b>
  <%= @product.genre %>
</p>

<div id="product_reviews">
  <%= render "product_reviews" %>
</div>

<%= hidden_field_tag 'product_id', @product.id %>

<div id="review_input_modal" class="modal hide fade">
  <div class="modal-header">レビュー作成</div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <button class="btn btn-primary btn_create_review" disabled="disabled">作成</button>
    <button class="btn btn_cancel">キャンセル</button>
  </div>
</div>


<% if can? :update, Product %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<%= javascript_include_tag 'products' %>
