<p id="notice"><%= notice %></p>

<p>
  <b>Artist:</b>
  <%= @product.artist.name %>
</p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Genre:</b>
  <%= @product.genre %>
</p>

<% if (can? :create, Review) && !(current_user.has_written_review?(@product)) %>
  <div>
    <%= link_to 'レビューを書く', new_product_review_path(@product), :class => "btn" %>
  </div>
<% end %>

<div>
  レビュー一覧(<%= @product.reviews.count %>)

  <ul>
  <% @product.reviews.each do |review| %>
    <li>
      <%= review.created_at.strftime('%Y-%m-%d') %><br />
      <%= review.user.username %><br />
      <%= link_to truncate(review.body), product_review_path(@product, review) %><br />

      <% if can? :edit, review %>
        <%= link_to '編集', edit_product_review_path(@product, review) %>
      <% end %>
      <% if can? :destroy, review %>
        <%= link_to '削除', product_review_path(@product, review), :method => :delete, :data => {confirm: "本当に削除してよろしいですか？"} %>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', :back %>
